/node_modules
/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build

.env

.idea
.shopify
.sentryclirc
package-lock.json
shopify.app*.toml

# Database
/prisma/*/*.db
/prisma/*.db
/prisma/*.db-journal
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/prisma/*/*_local
/prisma/*/*.toml
/prisma_local

# Extensions
coverage/
extensions/*/dist/
extensions/*/node_modules/

# Packages
packages/*/node_modules/
**/dist
**/node_modules
**/.turbo
**/.eslintcache


/scripts/eslint-report.json
/public/locales/warnings.json
